.hero {
    background-image: url(https://cdn.shopify.com/s/files/1/0565/2253/9031/files/img.png?v=1644700203);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 34px;
}

.heroContent {
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.primaryBtn {
    margin-top: 36px;
}

.roundBtn {
    margin-top: 130px;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .primaryBtn {
        margin-top: 20px;
        margin-bottom: 120px;
    }
    .roundBtn {
        display: none;
    }
}